<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <img src="/Images/Logo1.png" width="80" />
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Shopik</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/IndexUser">Produkty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Categories/IndexUser">Kategorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/Cart">Koszyk</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/UserLogin">Logowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/LogOut">Wylogowanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login/Register">Rejestracja</a>
                        </li>

                    </ul>

                </div>
                <form method="post">
                    <div id="divimg">
                        <img id="img" src="/Images/user.png" width="80" />
                        <div id="divimg"></div>
                        <a class="nav-link" asp-area="" asp-page="/Products/Index" id="siu1" type="button" value="Phone">Produkty</a>
                        <a class="nav-link" asp-area="" asp-page="/Categories/Index" id="siu2" type="button" value="Phone">Kategorie</a>
                        <a class="nav-link" asp-area="" asp-page="/ProductCategories/Index" id="siu3" type="button" value="Phone">Produkt-Kategoria</a>
                        <a class="nav-link" asp-area="" asp-page="/ProductTypes/Index" id="siu4" type="button" value="Phone">Typ</a>
                        <a class="nav-link" asp-area="" asp-page="/Users/Index" id="siu5" type="button" value="Phone">Użytkownicy</a>
         
                    </div>
                </form>
                
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Projekt wykonany przez- <a id="name">Aleksandra Niedźwiecka</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
