@page
@model Projekt_2.Pages.ProductTypes.EditModel

@{
    ViewData["Title"] = "Edytuj typ";
}

<h1>Edytuj typ</h1>

<h4>Typ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductType.id" />
            <div class="form-group">
                <label asp-for="ProductType.name" class="control-label"></label>
                <input asp-for="ProductType.name" class="form-control" />
                <span asp-validation-for="ProductType.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
